<h1>
  {{title}}
</h1>

<p class="test" smToOverlay>Par 1</p>
<p class="test">Par 2</p>
<p class="test">Par 3</p>
<p class="test" smToOverlay>Par 4</p>

<button type="button" id="toggleBtn" class="btn btn-primary js-toggle-luncher">Toggle Container</button>

<section class="container">
  <h1>Tooltip</h1>

  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-primary js-toggle-luncher-tooltip">1</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary js-toggle-luncher-tooltip">2</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary js-toggle-luncher-tooltip">3</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary js-toggle-luncher-tooltip">4</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <sm-tooltip [luncher]="'.js-toggle-luncher-tooltip'" (onStateChange)="onStateChange($event)">
        Some text of tooltip
      </sm-tooltip>
    </div>
  </div>
</section>

<section class="container mt-5">
  <h1>Select</h1>

  <div class="row">
    <div class="col-3">
      <sm-select></sm-select>
    </div>
    <div class="col-3">

    </div>
    <div class="col-3">
      <sm-select></sm-select>
    </div>
    <div class="col-3">
      <sm-select></sm-select>
    </div>
  </div>
</section>


<!-- Styles Import -->
<sm-overlay></sm-overlay>