<section class="container mb-4">
  <div class="row">
    <div class="col-12">
      <h1>sm-popups module</h1>
    </div>
  </div>
</section>


<section class="container" style="min-width:1000px">
  <h3>Tooltip</h3>

  <div class="row">
    <div class="col-3">
      <button type="button" class="btn btn-primary js-toggle-luncher-tooltip">1</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary js-toggle-luncher-tooltip">2</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary js-toggle-luncher-tooltip">3</button>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-primary js-toggle-luncher-tooltip">4</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <sm-tooltip [css]="'tmpTooltip'" [luncher]="'.js-toggle-luncher-tooltip'" (onStateChange)="onStateChange($event)">
        Some text of tooltip
      </sm-tooltip>
    </div>
  </div>
</section>

<section class="container mt-5">
  <h3>Select</h3>

  <div class="row">
    <div class="col-12 mt-4 mb-4">
      <button class="btn btn-success" (click)="updateOptions()">Updated options</button>
    </div>

    <div class="col-5">
      <sm-select [options]="tempOptions" [hasSearch]="true" [activeOption]="tempOptions[2]" (onSelect)="optionSelected($event)"></sm-select>
    </div>
    <div class="col-3">
      <sm-select [options]="tempStrOptions" [hasSearch]="true" [activeOption]="tempStrOptions[4]" (onSelect)="optionSelected($event)"></sm-select>
    </div>
    <div class="col-3">
     <sm-select [options]="tempStrOptions" [hasSearch]="false"  (onSelect)="optionSelected($event)"></sm-select>
    </div>
  </div>
</section>

<section class="container mt-5">
  <h3>Select with model access</h3>

  <div class="row mt-2">
    <div class="col-5">
      <form name="testForm">
        <div>
          <sm-select
            #refSelect
            id="myselect"
            name="myselect"
            [options]="tempOptionsWithEmpty"
            [required]="true"
            [hasSearch]="true"
            (onSelect)="optionSelected($event)">
          </sm-select>

          {{refSelect.ngModel?.valid}}
        </div>

        <div class="mt-2">
          <input #refInputModel="ngModel" required type="text" placeholder="can't be empty'" name="myInput" id="myInput" ngModel>
          {{refInputModel.valid}}
        </div>
      </form>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
    </div>
  </div>
</section>

<!--
<section class="container">
  <div class="row div col-4 mt-4">
    <sm-options-list
      [css]="tmpCss"
      [options]="tempOptions"
      [activeOption]="tempOptions[2]"
      [hasSearch]="true">
    </sm-options-list>
  </div>

  <div class="col-2">
    <button class="btn btn-warning" (click)="toggleInputData()">Toggle class</button>
  </div>
</section>
-->


<!-- Styles Import -->
<sm-overlay></sm-overlay>