
<input #refInputModel="ngModel" hidden type="text" class="sm-input-select" name="selectHidden" [(ngModel)]="selectedOption.id">
<input #refInputLuncher readonly (click)="refTooltip.openToggleContainer()" type="text" class="sm-input-select" name="selectLabel" [(ngModel)]="selectedOption.text" placeholder="{{placeholder}}">

<sm-tooltip
  #refTooltip
  [position]="position"
  [positionLuncher]="refInputLuncher"
  [positionPreventAdjust]="false">

    <sm-options-list *ngIf="refTooltip.isOpen"
      [options]="options"
      [activeOption]="selectedOption"
      [hasSearch]="true"
      [allowKeyboardNavigation]="true"
      [focusInputOnInit]="true"
      (onChange)="onOptionChange($event)">
    </sm-options-list>

</sm-tooltip>
