
<input #refInput #refInputModel="ngModel" hidden [required]="required" type="text" class="sm-input-select" [name]="valueName" [id]="valueId" [(ngModel)]="selectedOption.id">
<input #refInputLuncher readonly [disabled]="disabled" [style.pointer-events]="disabled ? 'none' : 'auto'" type="text" class="sm-input-select input--select-like {{css}} {{refInput.className}}" [id]="id" [name]="name" [value]="selectedOptionTextMask || selectedOption.text" placeholder="{{placeholder}}">

<sm-tooltip
  #refTooltip
  [luncher]="refInputLuncher"
  [useLuncherWidth]="true"
  [position]="position"
  [positionLuncher]="refInputLuncher"
  [positionPreventAdjust]="false">

    <sm-options-list *ngIf="refTooltip.isOpen"
      #refOptonsList
      [css]="'select-filter--select-list'"
      [options]="optionsList"
      [activeOption]="selectedOption"
      [hasSearch]="hasSearch"
      [allowKeyboardNavigation]="true"
      [focusInputOnInit]="true"
      (onChange)="onOptionChange($event)">
    </sm-options-list>

</sm-tooltip>